<% include sidebar.ejs %>




<!-- Site Content -->
<div class="dt-content">

    <!-- Page Header -->
    <div class="dt-page__header">
        <h1 class="dt-page__title">All User</h1>
    </div>
    <!-- /page header -->

    <!-- Grid -->
    <div class="row">

        <!-- Grid Item -->
        <div class="col-xl-12">

            <!-- Entry Header -->
            <div class="dt-entry__header">

                <!-- Entry Heading -->
                <!-- <div class="dt-entry__heading">
          <h3 class="dt-entry__title">Data Table</h3>
        </div> -->
                <!-- /entry heading -->

            </div>
            <!-- /entry header -->

            <!-- Card -->
            <div class="dt-card overflow-hidden">

                    <!-- Card Body -->
                    <div class="dt-card__body p-0">
    
                        <!-- Tables -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Job description</th>
                                    <th>Company Name</th>
                                    <th>Requested Permission</th>
                                    <th>Payment Status</th>
                                    <th>Activate</th>
                                    <th>Deactivated</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr class="gradeX">
                                    <td>1</td>
                                    <td>Kevin</td>
                                    <td>Peterson</td>
                                    <td>kevin@abc.com</td>
                                    <td>CEO</td>
                                    <td>ABC Ltd.</td>
                                    <td>Admin</td>
                                    <td>Demo</td>
                                    <td><a class="btn btn-success">Activate</a></td>
                                    <td><a class="btn btn-danger ">Deactivated</a></td>
                                </tr>
                            </tbody>
                            
                        </table>

                    </div>
                    <!-- /tables -->

                </div>
                <!-- /card body -->

            </div>
            <!-- /card -->

        </div>
        <!-- /grid item -->

    </div>
    <!-- /grid -->

</div>

<% include footer.ejs %>